[user]
	name = Adam H. Leventhal
	email = ahl@transposit.com
	#email = ahl@alumni.brown.edu
	#email = adam.leventhal@gmail.com
[core]
	excludesfile = ~/.gitignore.global
	#pager = cat
[alias]
	outgoing = ! git log --name-status $(git merge-base HEAD origin/master)..HEAD

[color]
	ui = auto
[push]
	default = tracking
[branch]
	autosetupmerge = always
[credential]
	helper = osxkeychain
