[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule ".vim/bundle/neocomplete.vim"]
	path = .vim/bundle/neocomplete.vim
	url = git@github.com:Shougo/neocomplete.vim.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
