[user]
	name = Adam H. Leventhal
	#email = adam.leventhal@gmail.com
	#email = ahl@alumni.brown.edu
        email = ahl@oxide.computer

[core]
	excludesfile = ~/.gitignore.global
[pager]
	log = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
	show = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
	diff = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
[alias]
	outgoing = ! git log --name-status $(git merge-base HEAD origin/master)..HEAD

[color]
	ui = always

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

#[push]
	#default = tracking
[branch]
	autosetupmerge = always
#[credential "https://git-codecommit.us-west-2.amazonaws.com"]
	#helper = !aws codecommit credential-helper $@
	#UseHttpPath = true
[credential]
	helper = osxkeychain
[pull]
	rebase = false
