[user]
	name = Adam H. Leventhal
	email = ahl@alumni.brown.edu
[reviewboard]
	url = http://reviews.delphix.com/
[core]
	excludesfile = ~/.gitignore.global
	pager = cat
[alias]
	outgoing = ! git log --name-status $(git merge-base HEAD origin/master)..HEAD

[color]
	ui = auto
[push]
	default = tracking
[branch]
	autosetupmerge = always
[credential]
	helper = osxkeychain
